@charset "utf-8";
/* grid fixo */

body{
	/* min-width: 1200px; */
	max-width: 1200px;
	margin: 0 auto;
}
.row{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.col1, .col2, .col3, .col4,
.col5, .col6, .col7, .col8,
.col9, .col10, .col11, .col12,
.col13, .col14, .col15, .col16 {
	margin-left: 15px;
	margin-right: 15px;
	display: inline;
	float: left;
	position: relative;
}

.row .col1{width: 45px;}
.row .col2{width: 120px;}
.row .col3{width: 195px;}
.row .col4{width: 270px;}
.row .col5{width: 345px;}
.row .col6{width: 420px;}
.row .col7{width: 495px;}
.row .col8{width: 570px;}
.row .col9{width: 645px;}
.row .col10{width: 720px;}
.row .col11{width: 795px;}
.row .col12{width: 870px;}
.row .col13{width: 945px;}
.row .col14{width: 1020px;}
.row .col15{width: 1095px;}
.row .col16{width: 1170px;}

/* espaço extra prefix */
.row .prefix1{padding-left: 75px;}
.row .prefix2{padding-left: 150px;}
.row .prefix3{padding-left: 225px;}
.row .prefix4{padding-left: 300px;}
.row .prefix5{padding-left: 375px;}
.row .prefix6{padding-left: 450px;}
.row .prefix7{padding-left: 525px;}
.row .prefix8{padding-left: 600px;}
.row .prefix9{padding-left: 675px;}
.row .prefix10{padding-left: 750px;}
.row .prefix11{padding-left: 825px;}
.row .prefix12{padding-left: 900px;}
.row .prefix13{padding-left: 975px;}
.row .prefix14{padding-left: 1050px;}
.row .prefix15{padding-left: 1125px;}
.row .prefix16{padding-left: 1220px;}

/* espaço extra sufix */
.row .sufix1{padding-right: 75px;}
.row .sufix2{padding-right: 150px;}
.row .sufix3{padding-right: 225px;}
.row .sufix4{padding-right: 300px;}
.row .sufix5{padding-right: 375px;}
.row .sufix6{padding-right: 450px;}
.row .sufix7{padding-right: 525px;}
.row .sufix8{padding-right: 600px;}
.row .sufix9{padding-right: 675px;}
.row .sufix10{padding-right: 750px;}
.row .sufix11{padding-right: 825px;}
.row .sufix12{padding-right: 900px;}
.row .sufix13{padding-right: 975px;}
.row .sufix14{padding-right: 1050px;}
.row .sufix15{padding-right: 1125px;}
.row .sufix16{padding-right: 1220px;}

/* tecnicas para limpar o flutuamento dos elementos */
.clear{
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix::before,
.clearfix::after{
	content: "\0020";
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix::after{clear: both;}
.clearfix{zoom:1;}